@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

.header {
    height: 30vh;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
    font-family: 'Libre Franklin', sans-serif;
}
.text_tp_1 {
    margin-top: 5vh;
    font-size: large;
    text-align: center;
    align-items:center;
}
.temperature {
    margin-top: 2vh;
    font-size: 6vh;
    text-align: center;
}
.weather-icon {
    height: 3vh;
    width: 3vh;
}
